# Format for cfg file
# 1. Lines starting with # are comments and are ignored. Leading spaces are 
#    ignored.
# 2. Must have a space between moduleName and (
# 3. ModuleParams should each go on their own line. Everything after first 
#    two elements in line is ignored.
# 4. Closing ) should be on its own line


tpcanalysis (
  min 1
  #max 5000
)

eventviewer (
)


ProcessedPlotter (
  enabled 1
  chans_per_pad 1
)

Converter (
  enabled 1
  trigger_index_offset -16 #samples. offset of TOP channels with respect to BOT channel.
)

BaselineFinder (
  enabled 1
  
  mode FIXED

  # PARAMETERS FOR FIXED BASELINE
  start_time -1.0
  end_time -0.2
  threshold 1.7

  # PARAMETERS FOR MOVING BASELINE
  pre_samps 20
  post_samps 20
  max_sigma 2.0
  max_amplitude 5
)


ZeroSuppressor (
  enabled 1
  threshold 1.7 #counts
  edge_threshold 0.5 #counts. This should ALWAYS be LESS than threshold
)



SumChannel (
  enabled 1
)

Integrator (
  enabled 1
)



PulseFinder (
  enabled 1
  
  mode INTEGRAL  #or THRESHOLD
  
  down_sample_factor 4
  
  pulse_start_threshold -3
  pulse_start_amp -0.05
  pulse_end_threshold 0.05
)
