# Format for cfg file
# 1. Lines starting with # are comments and are ignored. Leading spaces are 
#    ignored.
# 2. Must have a space between moduleName and (
# 3. ModuleParams should each go on their own line. Everything after first 
#    two elements in line is ignored.
# 4. Closing ) should be on its own line


tpcanalysis (
  min 1
  max 100
)

eventviewer (
)


ProcessedPlotter (
  enabled 1
  chans_per_pad 1
)

Converter (
  enabled 1
)

BaselineFinder (
  enabled 1
  mode MOVING

  # parameters for fixed baseline
  start_time -0.100
  end_time 0
  threshold 10

  # parameters for moving baseline
  pre_samps 2
  post_samps 2
  max_sigma 1
  max_amplitude 0.5
)

Integrator (
  enabled 1
)